.navbar{
    display: flex;
    justify-content: space-between;
    
}
li{
    list-style: none;
}
.logo{
    padding-left: 160px;
}
.btn{
    padding: 3px;
    font: bold;
   margin-right: 160px;
}

/* this is mid section */

.bac-1{
    margin-top: 5px;
    padding: 50px 70px 50px 70px;
    width: 900px;
    background-color: #C6E4D6;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}
.contentbox1{
    display: flex;
}
.img-1{
    width: 300px;
}
.btn-2{
    background-color: rgb(0, 106, 80);
    color: white;
    border: none;
    padding: 7px 10px 10px 7px;
}
.contentbox1-1{

}

/* thsi is main point */

.box1{
    margin: 10px;
}
.box1{
    height: 200 px;
}

.contentbox-2-1{
    border-radius: 5px;
    display: flex;
    gap:20px;
    width: 900px;
    padding: 16px;
    margin-left: auto;
    margin-right: auto;
}
.box2{
    background-color: rgb(244, 247, 248);
}
.box3{
    background-color: rgb(198, 228, 214);
}
.box4{
    background-color: rgb(247, 235, 207);
}
.box{
    padding-left: 10px;
}
.box-btn{
    border-radius: 2px;
    border: none;
    padding: 5px;
}
.contnetbox3-1{
    width: 900px;
    display: flex;
    gap: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}
.box1{
    background-color: rgba(84, 144, 245, 0.2);
}
.contentbox4-1{
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    border-radius: 5px;
}
/* .box{
    padding-left: 10px;
    background-color: aqua;
} */
.al{
    background-size: cover;
}
.contentbox-2-h{
    padding-left: 160px;
}
.contentbox3{
    margin: 0px auto auto 0px;
    width: 900px;
    /* background-color: #C6E4D6; */
    margin-left: auto;
    margin-right: auto;
}
.contentbox-1-1{
    /* background-color: rgba(84, 144, 245, 0.2); */
    gap: 20px;
}
.boxx1{
    background-color: rgba(84, 144, 245, 0.2);
    transition: all 0.9s ease-in;
}
.boxx2{
    background-color: rgb(198, 228, 214);
    transition: all 0.9s ease-in;
}
.boxx3{
    background-color:rgb(247, 235, 207);
    transition: all 0.5s ease-in;
}
.boxx-all-eliment{
    padding: 15px;
}
.img-boxx{
    padding: 12px;
}
.btn-boxx1{
    background-color:rgb(84, 144, 245);
    color: white;
    margin: 10px;
    padding: 5px;
    border: none;
    border-radius: 3px;
}
.btn-boxx2{
    background-color: rgb(9, 161, 92);
    margin: 10px;
    padding: 5px;
    border: none;
    border-radius: 3px;
    color: white;
}
.btn-boxx3{
    color: white;
    background-color: rgb(255, 194, 57);
    margin: 10px;
    padding: 5px;
    border: none;
    border-radius: 3px;
}
.contentbox3-1{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}
.contentbox4-1{
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    background-color: #C6E4D6;
}
.contentbox5{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}
.contentbox5-1{
    background-color: aliceblue;
    padding: 10px;
}
.contentbox6{
    margin-top: 15px;
    padding: 35px;
    display: flex;
    /* flex-wrap: wrap; */
    width: 830px;
    background-color: #C6E4D6;
    border-radius: 8px;
}
.contentbox6{
    margin-left: auto;
    margin-right: auto;
    /* flex-wrap: wrap; */
}
.contnetbox-6-2-t{
    padding: 15px;
    transition: all 0.9s ease-in;
}
.image-i{
    transition: all 1s ease-in;
}
.image-i:hover{
    transform: scale(1.1);
}
.contnetbox-6-2-btn{
    margin-left: 15px;
    background-color:rgb(0, 106, 80);
    color: white;
    padding: 10px;
    border-radius: 2px;
    border: none;
}
.contnetbox-6-2-btn:hover{
    color: white;
    background-color: rgb(58, 111, 225);
}
.contentbox6-1{
    display: flex;
    align-items: center;
}
.contentbox7{
    margin-left: auto;
    margin-right: auto;
}
.contentbox7{
    margin-top: 15px;
    padding: 35px;
    display: flex;
    flex-direction: row-reverse;
    width: 830px;
    background-color: #C6E4D6;
    border-radius: 8px;
}
.moneybox{
    display: flex;
    gap: 60px;
    width: 900px;
    /* background-color: aliceblue; */
    margin-left: auto;
     margin-right: auto;
}
.money{
    width: 180px;
    height: 100px;
    display: flex;
    background-color: #C6E4D6;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font: bold;
    font-size: xx-large;
    
}
.box8{
    background-color: rgb(117, 124, 232);
}
.input-btn{
    width: 900px;
    text-align: center;
    padding: 10px;
}
.inputdiv{
    margin-top: 15px;
    text-align: center;
}
.money-btn{
    text-align: center;
}
.btn-8{
    border-radius: 3px;
    border: none;
    height: 40px;
    color: white;
    margin-top: 10px;
    text-align: center;
    background-color:rgb(0, 106, 80);;
}
.contentbox-8{
    width: 900px;
    background-color: aliceblue;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}
.contextbox-8-1{
   padding: 12px;
}
.boxx1:hover{
    transform: scale(1.1);
}
.boxx2:hover{
    transform: scale(1.1);
}
.boxx3:hover{
    transform: scale(1.1);
}